* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin fonts() {
    font-family: 'Courier New', Courier, monospace;
}

@mixin color($color) {
    color: $color;
}

@mixin bgcolor($bg) {
    background-color: $bg;
}